@import url("https://fonts.googleapis.com/css2?family=Alata&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  --pri-color: #1F2438;
  --color-secondary: #1F2438;
  --color-green: #1F2438;
  --color-green-light: #1d20278c;
  --color-background-light: #1d20278c;
  --color-price: #0F1B40;
  --color-title: #326e51;
  --text-color: #333333;
  --text-color-sale: #808080;
  --text-color-light: #ffffff;
  --black-color: #313131;
  --font-size: clamp(12px, 3vw, 18px);
  --font-family-pri: "Inter", sans-serif;
}

/* Chrome, Safari, Edge, Opera */
input[type='number']::-webkit-outer-spin-button,
input[type='number']::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}


.custom-scrollbar::-webkit-scrollbar {
  width: 2px;
  height: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #1F2438;
  border-radius: 6px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #1F2438 transparent;
}

.mt-6 {
  margin-top: 24px,
}

.mb-6 {
  margin-bottom: 24px;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #B0D9B1;
}

::-webkit-scrollbar-thumb {
  background-color: #618264;
  border-radius: 50px;
  box-shadow: 0px 0px 6px 2px rgba(0, 0, 0, 0.5) inset;
}



.banner_top {
  background: var(--black-color);
  margin: 0 auto;

}

.banner_bottom {
  background: var(--pri-color);
}

.banner_bottom .box div {
  margin: 0.5rem;
}

.banner_bottom .menu {
  display: flex !important;
  flex-direction: row;
  flex-wrap: nowrap;
  align-content: space-around;
  justify-content: space-between;
}

.banner_bottom .logo {
  width: 20%;
}

.banner_bottom .search .InputContainer {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  border-radius: 30px;
  overflow: hidden;
  cursor: pointer;
  padding-left: 15px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.075);
}

.banner_bottom .search .input {
  width: 20rem;
  height: 100%;
  border: none;
  outline: none;
  font-size: 0.9em;
  caret-color: rgb(255, 81, 0);
}

.banner_bottom .search .labelforsearch {
  cursor: text;
  padding: 0px 12px;
}

.banner_bottom .search .searchIcon {
  width: 13px;
}

.banner_bottom .search .border {
  height: 40%;
  width: 1.3px;
  background-color: rgb(223, 223, 223);
}

.banner_bottom .search .micIcon {
  width: 12px;
}

.banner_bottom .search .micButton {
  padding: 0px 15px 0px 12px;
  border: none;
  background-color: transparent;
  height: 40px;
  cursor: pointer;
  transition-duration: 0.3s;
}

.banner_bottom .search .searchIcon path {
  fill: rgb(114, 114, 114);
}

.banner_bottom .search .micIcon path {
  fill: rgb(255, 81, 0);
}

.banner_bottom .search .micButton:hover {
  background-color: rgb(255, 230, 230);
  transition-duration: 0.3s;
}

.banner_bottom .account {
  color: var(--text-color-light);
  position: relative;
  animation: all 10s ease-in-out 2s;
}

.banner_bottom .account:hover .account_dropdown {
  opacity: 1;
  transform: translateY(0);
}

.banner_bottom .account_title {
  text-decoration: none;
  color: var(--text-color-light);
}

.banner_bottom .account_title:hover {
  color: var(--color-background-light);
}

.banner_bottom .account_title p {
  margin-right: 5px;
  color: var(--text-color-light);
}

.banner_bottom .account_dropdown {
  position: absolute;
  z-index: 99;
  background: var(--text-color-light);
  width: max-content;
  height: max-content;
  text-align: right;
  color: var(--text-color-light);
  padding: 1rem;
  border-radius: 10px;
  box-shadow: 0px 5px 10px rgb(151, 151, 151);
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.banner_bottom .account_dropdown .Login {
  background: var(--pri-color);
  border-radius: 30px;
  padding: 0.5rem 2rem;
  color: var(--text-color-light);
  text-decoration: none;
}

.banner_bottom .account_dropdown .Login:hover {
  color: var(--color-background-light);
}

.banner_bottom .account_dropdown .Register {
  width: 100%;
  color: var(--pri-color);
  border-radius: 30px;
  padding: 0.3rem 2rem;
  border: 2px solid var(--pri-color);
  text-align: center;
  margin-top: -10%;
  text-decoration: none;
}

.banner_bottom .account_dropdown .Register:hover {
  color: var(--color-background-light);
  background-color: var(--pri-color);
}

.banner_bottom .cart_shopping {
  color: var(--text-color-light);
  margin-left: 2rem;
}

.banner_menu_main {
  background: var(--color-green-light);
  margin: 0 auto;
  padding: 0.3rem 0;
}

.banner_menu_main ul {
  margin: 0 auto;
  padding: 0;
}

.banner_menu_main ul li {
  list-style-type: none;
  margin: 0;
  padding: 0 1rem;
}

.banner_menu_main ul li a {
  color: var(--color-secondary);
  text-decoration: none;
}

.banner_menu_main ul li a:hover {
  text-decoration: underline;
  color: var(--color-secondary);
}

footer .footer_top {
  background: linear-gradient(135deg, #ffffff, #f9f9f9);
  border-top: 4px solid var(--pri-color);
  padding: 2rem 1rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  box-shadow: 0 5px 20px rgba(0,0,0,0.05);
}

footer .footer_top .footer_top_icon {
  flex: 1;
  min-width: 200px;
  text-align: center;
  padding: 1rem 1rem;
  border-radius: 12px;
  /* background: #fff; */
  /* box-shadow: 0px 5px 15px rgba(0,0,0,0.08); */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

footer .footer_top .footer_top_icon img {
  /* width: 100px; */
  height: 100px;
  object-fit: contain; /* giữ tỉ lệ ảnh */
  display: block;
  margin: auto auto 1rem auto;
  filter: brightness(0) saturate(100%);
  opacity: 0.8;
}

footer .footer_top .footer_top_icon p {
  color: var(--pri-color);
  font-size: 1rem;
  font-weight: 600;
}

/* footer .footer_top .footer_top_icon:hover {
  transform: translateY(-5px);
  box-shadow: 0px 8px 25px rgba(0,0,0,0.15);
} */

/* footer .footer_top .footer_top_icon:hover img {
  transform: scale(1.1);
} */


footer .footer_bottom {
  background: url(/image/icon/left.png) no-repeat left top, url(/image/icon/right.png) no-repeat right bottom, var(--pri-color);
  background-size: 19%, 20%;
  height: 20rem;
}

footer .footer_bottom .menu_footer {
  margin: 45% auto;
  list-style-type: none;
}

footer .footer_bottom .menu_footer>a {
  font-size: 1.2rem;
  color: var(--text-color-light);
}

footer .footer_bottom .menu_footer li a {
  color: var(--text-color-light) !important;
  text-decoration: none;
}

footer .footer_bottom .menu_footer li a:hover {
  color: var(--color-green);
}

.section_one {
  margin: 0 auto;
  /* background: var(--text-color-light); */
  /* background-image: url('');
  background-size: contain;
  padding-bottom: 2%; */
  box-shadow: 10px 10px 30px #e8e8e8, -10px -10px 30px #ffffff;

}

/* .section_one_right{
  background: url('/image/main/bg-banner.png');
  /* background-size: 120%; */
/* .section_one_slide {
  overflow: hidden;
  height: 450px;
}
.section_one .slide {
  position: relative;
}
.section_one .slide_banner {
  width: 100%;
  height: 100%;
  position: absolute;
}
.section_one .btn_slide {
  width: 100%;
  margin-top: -27%;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  justify-content: space-between;
}
.section_one .btn_slide button {
  padding: 10px;
  border: none;
  border-radius: 50%;
  color: var(--text-color-light);
  opacity: 0.5;
  background: none;
}
.section_one .btn_slide button:hover {
  background: var(--color-green);
  opacity: 0.8;
}
.section_one .box_img {
  display: flex !important;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-between;
} */

.flash {
  position: relative;
  /* background: var(--color-price); */
  /* margin-top: 1%; */
  padding: 1% 0%;
  /* border-radius: 15px; */
}

.flash .card {
  position: relative;
  overflow: hidden;
  height: max-content;
  border-radius: 10px;
  text-decoration: none;
  border: 1px solid rgba(255, 255, 255, 0);
  /* background: white; */
  /* width: auto !important;
  max-width: 100% !important; */

}

.flash .card .box_image {
  height: 15rem;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.flash .card .box_image img {
  width: 100%;
}

.flash .card .box_image .image_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

.flash .card .title {
  height: max-content;
  padding: 0.5rem;
}

.flash .card .title .price {
  color: var(--color-price);
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.flash .card .title .name_product {
  color: var(--color-title);
  font-size: larger;
  font-weight: 550;
}

.flash .card .title .content {
  color: var(--color-content);
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.flash .card:hover {
  /* border: 1px solid ; */
  box-shadow: 3px 3px 10px gray;
}

.flash .card:hover .image {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.flash .card:hover .image_hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transform: scale(1.4);
}

.flash .card .sale {
  position: absolute;
  top: 1%;
  right: 15px;
  background: var(--color-price);
  color: var(--text-color-light);
  padding: 0.2rem 0.5rem;
  border-radius: 3px 10px 3px;
  font-size: 1.1rem;
}

.flash .card .price_sales {
  color: var(--text-color-sale);
  font-size: 1rem;
  text-decoration: line-through;

}

.flash .flash_box {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  overflow: hidden;
  /* width: 98%; */
  margin: auto;
}

.flash .box_title h3 {
  color: var(--text-color-light);
}

.flash .box_title a {
  color: var(--text-color-light);
  text-decoration: none;
}



section .img-box {
  position: relative;
  overflow: hidden;
  height: 13rem;
  border-radius: 5px !important;
}

section .img-box img {
  transition: transform 0.3s ease-in-out;
}

section .img-box img:hover {
  transform: scale(1.2);
}

.brand {
  width: 100%;
  padding: 1% 0;
}

.brand .box_title {
  padding: 1% 0;
}

.brand .box_title h3,
.brand .box_title a {
  color: var(--pri-color);
}

.brand .box_category_left {
  position: relative;
  overflow: hidden;
  height: 29rem;
}

.brand .box_category_left .slide_banner .btn_slide {
  position: absolute;
  top: 50%;
  width: 100%;
}

.brand .box_category_left .slide_banner .btn_slide button {
  padding: 2%;
  border: none;
  background: var(--color-green);
  opacity: 0.4;
  border-radius: 50%;
  color: var(--text-color-light);
}

.brand .box_category_left .slide_banner .btn_slide button:hover {
  opacity: 1;
}

.brand .box_category_right {
  position: relative;
  overflow: hidden;
}

.brand .box_category_right:hover .box_btn_category button {
  opacity: 0.7;
}

.brand .box_category_right .slider_box_right {
  overflow-x: auto;
  white-space: nowrap;
  scroll-behavior: smooth;
  scrollbar-width: none;
}

.brand .box_category_right .flash_box {
  display: flex;
  padding: 0;
  margin: 0;
}

.brand .box_category_right .flash_box li {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.brand .box_category_right .card_category {
  position: relative;
  width: 100%;
  height: 14rem;
  overflow: hidden;
  border-radius: 10px;
  margin: 2% 0;
}

.brand .box_category_right .card_category:hover {
  border: 3px solid var(--color-price);
}

.brand .box_category_right .card_category:hover .name_brand {
  box-shadow: none;
  transform: translateY(-20px);
}

.brand .box_category_right .card_category .name_brand {
  position: absolute;
  bottom: 7%;
  width: 90%;
  border-radius: 10px;
  background: var(--text-color-light);
  height: 3rem;
  display: flex;
  color: var(--pri-color);
  justify-content: center;
  align-items: center;
  overflow: hidden;
  box-shadow: 5px 5px 10px -3px rgb(102, 102, 102);
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.brand .box_category_right .card_category .name_brand h2 {
  font-family: "Inter", serif;
  margin: 0;
  padding-left: 5%;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.brand .box_category_right .box_btn_category {
  position: absolute;
  top: 52%;
  width: 98%;
  display: flex;
  justify-content: space-between;
}

.brand .box_category_right .box_btn_category button {
  border: none;
  padding: 0.5rem 0.6rem 0.5rem 1.1rem;
  color: var(--text-color-light);
  background: var(--color-green);
  margin: 0 0.5%;
  border-radius: 50%;
  animation: alternate;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.all_product {
  margin: 0 auto;
  padding-bottom: 3rem;
}

.all_product .box_card {
  height: auto;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1%;
}

.product .box_card {
  /* height: auto;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1%; */
}

.all_product .box_card .card {
  position: relative;
  overflow: hidden;
  height: max-content;
  margin: 0.5%;
  border-radius: 10px;
  text-decoration: none;
  padding: 0;
}

.all_product .box_card .card .box_image {
  height: 15rem;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.all_product .box_card .card .box_image img {
  width: 100%;
}

.all_product .box_card .card .box_image .image_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

.all_product .box_card .card .title {
  height: max-content;
  padding: 0.5rem;
}

.all_product .box_card .card .title .price {
  color: var(--color-price);
  font-weight: 600;
  font-size: 1.2rem;
  display: flex;
  justify-content: space-between;
}

.all_product .box_card .card .title .name_product {
  color: var(--color-title);
  font-size: larger;
  font-weight: 550;
}

.all_product .box_card .card .title .content {
  color: var(--color-content);
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.all_product .box_card .card:hover {
  border: 1px solid var(--color-price);
  box-shadow: 3px 3px 10px gray;
}

.all_product .box_card .card:hover .image {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.all_product .box_card .card:hover .image_hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transform: scale(1.4);
}

.all_product .box_card .card .sale {
  position: absolute;
  top: 1%;
  right: 1%;
  background: var(--color-price);
  color: var(--text-color-light);
  padding: 0.2rem 0.5rem;
  border-radius: 3px 10px 3px;
  font-size: 1.1rem;
}

.all_product .box_card .card .price_sales {
  color: var(--text-color-sale);
  font-size: 1rem;
  text-decoration: line-through;
}

.all_product .box_card .card:hover {
  box-shadow: 5px 5px 10px #b4b4b4, -5px -5px 10px #ffffff;
}

.all_product .box_title h3,
.all_product .box_title a {
  color: var(--pri-color);
}

.all_product .title_all_product {
  background: var(--color-green);
  padding: 0.6% 5%;
  font-size: 1.2rem;
  border-radius: 30px;
  font-weight: 600;
  margin: 3% auto;
  width: max-content;
}

.all_product .title_all_product a {
  color: var(--pri-color);
}

.product_banner {
  background: var(--text-color-light);
  box-shadow: 10px 10px 30px #e8e8e8, -10px -10px 30px #ffffff;
  margin: 0 auto;
}

.product_banner .box_banner {
  height: auto;
  overflow: hidden;
}

.product_banner .box_banner .product_banner_left {
  background: url(/assets/image/main/image-removebg-preview\ \(5\).png) no-repeat bottom right, var(--text-color-light);
}

.product_banner .box_banner .product_banner_left .title {
  margin-left: 5%;
}

.product_banner .box_banner .product_banner_left .title_name {
  transition: transform 0.3s ease;
  animation: title 3s ease-in-out;
  font-size: 11em;
  color: var(--pri-color);
  font-weight: 500;
}

.product_banner .box_banner .product_banner_left .title_slogan {
  transition: transform 0.3s ease;
  animation: slogan 2s ease-in;
  font-size: 2em;
  color: var(--text-color);
  margin-top: -5%;
}

.product_banner .box_banner .product_banner_right {
  position: relative;
  margin-left: auto;
  background: var(--pri-color);
  box-shadow: -10px 0 100px 0 rgba(0, 0, 0, 0.5);
  height: 32rem;
}

.product_banner .box_banner .product_banner_right img {
  position: absolute;
  bottom: -7%;
  filter: drop-shadow(25px 25px 15px rgba(0, 0, 0, 0.76));
  transform: rotateX(30deg);
  transition: transform 0.3s ease;
  animation: moveImage 3s ease-in-out;
  height: auto;
}

@keyframes moveImage {
  0% {
    transform: translateX(-200%) rotateX(30deg);
  }

  50% {
    transform: translateX(0) rotateX(30deg);
  }
}

@keyframes title {
  0% {
    transform: translateY(-200%) rotateX(30deg);
  }

  50% {
    transform: translateY(0) rotateX(30deg);
  }
}

@keyframes slogan {
  0% {
    transform: translateY(200%) rotateX(30deg);
  }

  50% {
    transform: translateY(0) rotateX(30deg);
  }
}

.count {
  background: var(--color-price);
}

.count .total_product {
  text-align: center;
}

.count .total_product .count_number {
  font-size: 2.6rem;
  font-weight: 600;
  color: var(--pri-color);
  font-family: var(--font-size);
}

.count .total_product .count_name {
  font-size: 1.3rem;
  font-weight: 600;
  color: var(--pri-color);
  font-family: var(--font-size);
}

main aside .title_brand {
  color: var(--pri-color);
  font-family: var(--font-family);
  font-size: 2rem;
}

main aside .brand {
  width: 90%;
}

main aside .brand_title h5 {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  color: var(--pri-color);
  font-weight: 500;
}

main aside .brand_title:hover {
  text-decoration: underline;
}

main article nav {
  background: var(--pri-color);
  padding: 0.5% 0 0 0;
}

main article nav .tune {
  width: max-content;
  position: relative;
  color: var(--text-color-light);
  margin-left: auto;
  width: 5%;
}

main article nav .tune .tune_down {
  z-index: 99;
  position: absolute;
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgb(179, 179, 179);
  text-align: center;
  width: max-content;
  right: 0;
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
  background: var(--text-color-light);
}

main article nav .tune .tune_down a {
  width: 100%;
  padding: 0 1rem;
  color: var(--pri-color);
}

main article nav .tune .tune_down a:hover {
  background: rgb(230, 230, 230);
}

main article nav .tune:hover .tune_down {
  opacity: 1;
  transform: translateY(0);
}

main article .all_products {
  padding: 1%;
  display: flex;
}

.all_products .card {
  width: 24%;
  transition: all 200ms ease;
  position: relative;
  overflow: hidden;
  height: max-content;
  margin: 0.5%;
  border-radius: 10px;
  text-decoration: none;
}

.all_products .card .box_image {
  height: 15rem;
  overflow: hidden;
  width: 100%;
  position: relative;
}

.all_products .card .box_image img {
  width: 100%;
}

.all_products .card .box_image .image_hover {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  object-fit: cover;
  opacity: 0;
}

.all_products .card .title {
  height: max-content;
  padding: 0.5rem;
}

.all_products .card .title .price {
  color: var(--color-price);
  font-weight: 600;
  font-size: 1rem;
  display: flex;
  justify-content: space-between;
}

.all_products .card .title .name_product {
  color: var(--color-title);
  font-size: larger;
  font-weight: 550;
}

.all_products .card .title .content {
  color: var(--color-content);
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  text-overflow: ellipsis;
}

.all_products .card:hover {
  border: 1px solid var(--color-price);
  box-shadow: 3px 3px 10px gray;
}

.all_products .card:hover .image {
  opacity: 0;
  transition: opacity 0.5s ease;
}

.all_products .card:hover .image_hover {
  opacity: 1;
  transition: opacity 0.5s ease-in-out;
  transform: scale(1.4);
}

.all_products .card .sale {
  position: absolute;
  top: 1%;
  right: 1%;
  background: var(--color-price);
  color: var(--text-color-light);
  padding: 0.2rem 0.5rem;
  border-radius: 3px 10px 3px;
  font-size: 1.1rem;
}

.all_products .card .price_sales {
  color: var(--text-color-sale);
  font-size: 1rem;
  text-decoration: line-through;
}

.all_products .card:hover {
  box-shadow: 3px 3px 10px gray;
}

.contact {
  /*  border: 1px solid var(--pri-color);  */
  margin: auto;
}

.contact .contact1 {
  background-color: rgb(7, 80, 61);
  height: 200px;
  width: 45%;
  border-radius: 5px;
}

.contact .information {
  /*  border: 1px solid var(--pri-color); */
  width: 100%;
  height: 50%;
}

.contact form label {
  float: left;
}

.contact input {
  height: 55px;
  border-radius: 10px;
  margin-top: 1rem;
  width: 100%;
  border: 1px solid var(--text-color-sale);
  padding: 10px;
}

.contact textarea {
  padding: 10px;
  border-radius: 10px;
  width: 97%;
  margin: auto;
}

.contact .inputsubmit input {
  width: 90%;
  background: var(--color-title);
  color: var(--text-color-light);
  font-family: var(--font-family-pri);
}

.contact .inputsubmit input:hover {
  background: var(--color-green);
  /*  color: var(--color-price); */
  transform: scale(1.1);
  transition: all 0.5 ease-in-out;
}

.contact .imgcontact {
  display: flex !important;
  flex-direction: column;
  align-content: center;
  /* justify-content: center; */
  align-items: center;
}

.bannercontact {
  background-color: white;
}

.bannercontact .box_banner {
  background: url(/assets/image/contact/Betterimage.ai_1730455519571-removebg-preview.png) no-repeat center;
  background-size: 100%;
  height: 500px;
}

.bannercontact h1 {
  font-size: 50px;
}

.bannercontact .title_banner {
  padding-bottom: 20px;
}

.cart .table {
  width: 100%;
  border-collapse: collapse;
}

.cart .table th,
.cart .table td {
  padding: px;
  text-align: center;
  vertical-align: middle;
}

.cart .table img {
  max-width: 70px;
  height: auto;
}

.cart .quantity-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart .quantity-control input[type=button] {
  background-color: #07503d;
  color: white;
  border: none;
  border-radius: 5px;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.cart .quantity-control input[type=number] {
  width: 80px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 5px;
  margin: 0 5px;
}

.product_detail .sec_title {
  background: var(--text-color-light);
  border-radius: 5px;
  margin-top: 1%;
  padding: 1% 0;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.product_detail .sec_title aside .click_slide {
  overflow: hidden;
  overflow-y: auto;
  max-height: 30rem;
}

.product_detail .sec_title aside .click_slide .box_image {
  overflow: hidden;
  height: 6rem;
  margin: 2% 0;
}

.product_detail .sec_title aside .click_slide .box_image:hover,
.product_detail .sec_title aside .click_slide .box_image:focus {
  border: 3px solid var(--color-price);
  border-radius: 5px;
}

.product_detail .sec_title aside .click_slide .box_image img {
  width: 100%;
  height: 6rem !important;
  margin: 2% 0;
  transition: all 1s ease-in-out;
}

.product_detail .sec_title aside .click_slide .box_image img:hover {
  transform: scale(1, 2);
}

.product_detail .sec_title aside .image {
  overflow: hidden;
  height: 30rem;
}

.product_detail .sec_title aside .image #magnifier {
  position: absolute;
  border: 1px solid black;
  width: 10vmax;
  height: 10vmax;
}

.product_detail .sec_title aside .image img {
  height: 100%;
  width: 100%;
}

.product_detail .sec_title article .name_categogy {
  color: var(--color-price);
  transition: all 1s;
}

.product_detail .sec_title article .name_categogy:hover {
  color: var(--pri-color);
}

.product_detail .sec_title article .name_product {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  color: var(--pri-color);
}

.product_detail .sec_title article .describe {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.product_detail .sec_title article .price_product {
  display: flex;
}

.product_detail .sec_title article .price_product h5 {
  color: var(--color-price) !important;
  margin-right: 1%;
}

.product_detail .sec_title article .price_product .price_new {
  text-decoration: line-through;
  color: var(--text-color-sale) !important;
}

.product_detail .sec_title article .variants .variant {
  flex-wrap: wrap;
  overflow-y: auto;
  max-height: 100px;
}

.product_detail .sec_title article .variants .variant button {
  border-radius: 3px;
  border: 1px solid var(--text-color-sale);
  color: var(--text-color-sale);
  width: max-content;
  margin: 1%;
}

.product_detail .sec_title article .variants .variant button p {
  padding: 2% 3%;
  font-weight: 600;
}

.product_detail .sec_title article .variants .variant button:hover,
.product_detail .sec_title article .variants .variant button:focus {
  border: 2px solid var(--color-price);
  color: var(--pri-color);
}

.product_detail .sec_title article .box_count_btn button {
  border: none;
  background: var(--color-price);
  color: var(--pri-color);
  height: 2rem;
  width: 2rem;
  border-radius: 3px;
}

.product_detail .sec_title article .box_count_btn button:hover {
  color: aliceblue;
}

.product_detail .sec_title article .box_count_btn input {
  border: none;
  text-align: center;
  width: 3rem;
  background: rgb(238, 238, 238);
  color: var(--text-color);
  font-size: 1.2rem;
}

.product_detail .sec_title article .box_btn .cartBtn {
  padding: 2% 15%;
  height: 50px;
  border: none;
  border-radius: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 7px;
  color: white;
  font-weight: 500;
  position: relative;
  background-color: var(--pri-color);
  box-shadow: 0 20px 30px -7px rgba(27, 27, 27, 0.219);
  transition: all 0.3s ease-in-out;
  border-radius: 5px;
  cursor: pointer;
  overflow: hidden;
  font-family: var(--font-family-pri);
  margin-right: 5%;
  font-size: 1.2rem;
}

.product_detail .sec_title article .box_btn .cartBtn .cart {
  z-index: 2;
}

.product_detail .sec_title article .box_btn .cartBtn:active {
  transform: scale(0.96);
}

.product_detail .sec_title article .box_btn .cartBtn .product {
  position: absolute;
  width: 12px;
  border-radius: 3px;
  content: "";
  left: 30%;
  bottom: 23px;
  opacity: 0;
  z-index: 1;
  fill: rgb(211, 211, 211);
}

.product_detail .sec_title article .box_btn .cartBtn:hover .product {
  animation: slide-in-top 1.2s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-30px);
    opacity: 1;
  }

  100% {
    transform: translateY(0) rotate(-90deg);
    opacity: 1;
  }
}

.product_detail .sec_title article .box_btn .cartBtn:hover .cart {
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@keyframes slide-in-left {
  0% {
    transform: translateX(-10px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.product_detail .sec_title article .box_btn .buyBtn {
  position: relative;
  padding: 10px 35px;
  font-size: 18px;
  font-weight: bold;
  color: #2F5C2F;
  background-color: transparent;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s;
}

.product_detail .sec_title article .box_btn .buyBtn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background-color: #ffffff;
  border-radius: 5px;
  z-index: -1;
  transition: all 0.5s;
}

.product_detail .sec_title article .box_btn .buyBtn:hover::after {
  top: 0;
  left: 0;
}

.product_detail .sec_title article .box_btn .buyBtn .icon-1 {
  position: absolute;
  width: 15%;
  top: 10px;
  right: 15px;
  color: #2F5C2F;
  transform-origin: 100% 100%;
  transform: rotate(-20deg) translateX(100%) translateY(-5%);
  z-index: -1;
  transition: all 0.5s;
}

.product_detail .sec_title article .box_btn .buyBtn:hover .icon-1 {
  width: 25%;
  transform: rotate(10deg) translateX(110%) translateY(-40%);
}

.product_detail .sec_title article .box_btn .buyBtn .icon-2 {
  position: absolute;
  width: 15%;
  top: 20px;
  left: 10px;
  color: #2F5C2F;
  transform-origin: 100% 100%;
  z-index: -1;
  transition: all 0.5s;
}

.product_detail .sec_title article .box_btn .buyBtn:hover .icon-2 {
  width: 50%;
  top: -40px;
  left: -80px;
  transform: rotate(80deg);
  z-index: 1;
}

.product_detail .sec_describes {
  background: var(--text-color-light);
  border-radius: 5px;
  margin-top: 3%;
  padding: 2%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
}

.product_detail .sec_describes .contents {
  text-align: justify;
}

.product_detail .sec_describes .contents .content h4,
.product_detail .sec_describes .contents .content h5 {
  color: var(--pri-color);
}

.product_detail .sec_comment {
  background: var(--text-color-light);
  border-radius: 5px;
  margin-top: 3%;
  margin-bottom: 3%;
  padding: 2%;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.05);
  overflow: hidden;
}

.product_detail .sec_comment_review {
  border-bottom: 1px solid var(--text-color-sale);
}

.product_detail .sec_comment_review .user div {
  flex-direction: column;
  margin-left: 1%;
}

.product_detail .sec_comment_review .user div .username {
  color: var(--color-price);
  font-weight: 600;
}

.product_detail .sec_comment_review .user div .date {
  color: var(--text-color-sale);
}

.product_detail .sec_comment_review .user .avatar_comment {
  border-radius: 50%;
  border: 3px solid var(--pri-color);
}

.product_detail .sec_comment_review .content {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
  overflow: hidden;
}

.product_detail .sec_comment #commentForm {
  width: 80%;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #f9f9f9;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.product_detail .sec_comment #commentForm h3 {
  text-align: center;
  margin-bottom: 15px;
  color: #333;
}

.product_detail .sec_comment #commentForm label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
  color: #555;
}

.product_detail .sec_comment #commentForm input[type=text],
.product_detail .sec_comment #commentForm select,
.product_detail .sec_comment #commentForm textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  box-sizing: border-box;
}

.product_detail .sec_comment #commentForm input[type=text]:focus,
.product_detail .sec_comment #commentForm select:focus,
.product_detail .sec_comment #commentForm textarea:focus {
  border-color: #666;
  outline: none;
}

.product_detail .sec_comment #commentForm .user {
  margin-left: 1%;
}

.product_detail .sec_comment #commentForm .user .username {
  color: var(--color-price);
  font-weight: 600;
}

.product_detail .sec_comment #commentForm .user .date {
  color: var(--text-color-sale);
}

.product_detail .sec_comment #commentForm .avatar_comment {
  border-radius: 50%;
  border: 3px solid var(--pri-color);
}

.product_detail .sec_comment #commentForm .send {
  font-family: inherit;
  font-size: 18px;
  background: var(--pri-color);
  color: white;
  padding: 0.4em 1em;
  padding-left: 0.9em;
  display: flex;
  align-items: center;
  border: none;
  border-radius: 5px;
  overflow: hidden;
  transition: all 0.2s;
  margin-left: 90%;
  cursor: pointer;
}

.product_detail .sec_comment #commentForm .send span {
  display: block;
  margin-left: 0.3em;
  transition: all 0.3s ease-in-out;
}

.product_detail .sec_comment #commentForm .send svg {
  display: block;
  transform-origin: center center;
  transition: transform 0.3s ease-in-out;
}

.product_detail .sec_comment #commentForm .send:hover .svg-wrapper {
  animation: fly-1 0.6s ease-in-out infinite alternate;
}

.product_detail .sec_comment #commentForm .send:hover svg {
  transform: translateX(1.2em) rotate(45deg) scale(1.1);
}

.product_detail .sec_comment #commentForm .send:hover span {
  transform: translateX(5em);
}

.product_detail .sec_comment #commentForm .send:active {
  transform: scale(0.95);
}

@keyframes fly-1 {
  from {
    transform: translateY(0.1em);
  }

  to {
    transform: translateY(-0.1em);
  }
}

.banner-about {
  position: relative;
  width: 100%;
  height: 37rem;
  padding: 50px 200px 50px 140px;
  overflow: hidden;
}

.banner-about::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("/image/about/anhnen.jpg");
  background-size: cover;
  background-position: center;
  filter: blur(5px);
  z-index: 1;
}

.banner-about .container {
  position: relative;
  border: solid rgb(255, 255, 255) 0.5rem;
  box-shadow: 0 0 10px rgba(230, 231, 231, 0.8), 0 0 20px rgba(143, 144, 144, 0.6), 0 0 30px rgba(47, 47, 47, 0.4);
  width: 100%;
  height: 100%;
  z-index: 1;
  text-align: center;
  padding: 2rem 6rem 2rem 6rem;
}

.banner-about .container .image1 {
  position: absolute;
  width: 250px;
  left: -8em;
  top: -5em;
}

.banner-about .container .image2 {
  position: absolute;
  width: 250px;
  right: -5em;
  bottom: -5em;
}

.banner-about .container .content h1 {
  font-weight: 700;
  font-size: 7rem;
  background-image: url("/image/about/nentext.jpg");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.banner-about .container .content span {
  color: white;
}

.banner-about .container .content .button {
  margin-top: 2rem;
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: none;
  background: none;
  color: #0f1923;
  cursor: pointer;
  position: relative;
  padding: 8px;
  margin-bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 14px;
  transition: all 0.15s ease;
}

.banner-about .container .content .button::before,
.banner-about .container .content .button::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  left: 0;
  height: calc(50% - 5px);
  border: 1px solid #052e06;
  transition: all 0.15s ease;
}

.banner-about .container .content .button::before {
  top: 0;
  border-bottom-width: 0;
}

.banner-about .container .content .button::after {
  bottom: 0;
  border-top-width: 0;
}

.banner-about .container .content .button:active,
.banner-about .container .content .button:focus {
  outline: none;
}

.banner-about .container .content .button:active::before,
.banner-about .container .content .button:active::after {
  right: 3px;
  left: 3px;
}

.banner-about .container .content .button:active::before {
  top: 3px;
}

.banner-about .container .content .button:active::after {
  bottom: 3px;
}

.banner-about .container .content .button_lg {
  position: relative;
  display: block;
  padding: 10px 20px;
  color: #fff;
  background-color: #093805;
  overflow: hidden;
  box-shadow: inset 0px 0px 0px 1px transparent;
}

.banner-about .container .content .button_lg::before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 2px;
  height: 2px;
  background-color: #0f1923;
}

.banner-about .container .content .button_lg::after {
  content: "";
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  width: 4px;
  height: 4px;
  background-color: #0f1923;
  transition: all 0.2s ease;
}

.banner-about .container .content .button_sl {
  display: block;
  position: absolute;
  top: 0;
  bottom: -1px;
  left: -8px;
  width: 0;
  background-color: #177110;
  transform: skew(-15deg);
  transition: all 0.2s ease;
}

.banner-about .container .content .button_text {
  position: relative;
}

.banner-about .container .content .button:hover {
  color: #0f1923;
}

.banner-about .container .content .button:hover .button_sl {
  width: calc(100% + 15px);
}

.banner-about .container .content .button:hover .button_lg::after {
  background-color: #fff;
}

.section2 {
  color: #000000;
  font-family: var(--font-family-pri);
  width: 80%;
}

.section2 h1 {
  color: #000000;
  padding-top: 3rem;
  text-align: center;
}

.section2 .container {
  display: flex;
  padding-top: 3rem;
  padding-bottom: 3rem;
  height: 55em;
  /* margin-left: 10rem; */
}

.section2 .container .content1 {
  width: 47%;
  position: relative;
  margin-right: 2rem;
  text-align: justify;
}

.section2 .container .content1 .img1 {
  position: absolute;
  left: -6rem;
  top: -15rem;
  width: 500px;
  height: 480px;
  overflow: hidden;
  position: relative;
}

.section2 .container .content1 .img1 img {
  width: 100%;
  height: auto;
  clip-path: polygon(50% 26%, 80% 50%, 50% 74%, 20% 50%);
  position: absolute;
  top: 0;
  left: 0;
}

.section2 .container .content1 .img2 {
  position: absolute;
  top: -25rem;
  left: 10rem;
  width: 250px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

.section2 .container .content1 .img2 img {
  width: 100%;
  height: auto;
  clip-path: polygon(50% 20%, 80% 50%, 50% 80%, 20% 50%);
  position: absolute;
  top: 0;
  left: 0;
}

.section2 .container .content1 .img3 {
  position: absolute;
  top: -45rem;
  left: 20rem;
  width: 300px;
  height: 240px;
  overflow: hidden;
  position: relative;
}

.section2 .container .content1 .img3 img {
  width: 100%;
  height: auto;
  clip-path: polygon(50% 20%, 80% 50%, 50% 80%, 20% 50%);
  position: absolute;
  top: 0;
  left: 0;
}

.section2 .container .content1 .text1 {
  position: absolute;
  top: 23em;
  font-size: 15px;
}

.section2 .container .content1 .text2 {
  position: absolute;
  top: 32em;
  font-size: 15px;
}

.section2 .container .content1 .img4 {
  position: absolute;
  bottom: 22em;
  left: 15rem;
  width: 200px;
  height: 230px;
  overflow: hidden;
  position: relative;
}

.section2 .container .content1 .img4 img {
  width: 100%;
  height: auto;
  clip-path: polygon(50% 20%, 80% 50%, 50% 80%, 20% 50%);
  position: absolute;
  top: 0;
  left: 0;
}

.section2 .container .content2 {
  width: 2%;
}

.section2 .container .content3 {
  width: 47%;
  position: relative;
  text-align: justify;
  margin-left: 2rem;

}

.section2 .container .content3 .text1 {
  font-size: 15px;
  position: absolute;
  top: 5rem;
}

.section2 .container .content3 .text2 {
  position: absolute;
  font-size: 15px;
  top: 13rem;
}

.section2 .container .content3 .text3 {
  position: absolute;
  font-size: 15px;
  bottom: 7rem;
}

.section2 .container .content3 .img1 {
  position: absolute;
  top: 17rem;
  left: 0;
  width: 200px;
  height: 220px;
  overflow: hidden;
  position: relative;
}

.section2 .container .content3 .img1 img {
  width: 100%;
  height: auto;
  clip-path: polygon(50% 30%, 80% 50%, 50% 70%, 20% 50%);
  position: absolute;
  top: 0;
  left: 0;
}

.section2 .container .content3 .img2 {
  position: absolute;
  z-index: 1;
  top: 4rem;
  left: 10rem;
  width: 300px;
  height: 250px;
  overflow: hidden;
  position: relative;
}

.section2 .container .content3 .img2 img {
  width: 100%;
  height: auto;
  clip-path: polygon(50% 20%, 80% 50%, 50% 80%, 20% 50%);
  position: absolute;
  top: 0;
  left: 0;
}

.section2 .container .content3 .img3 {
  position: absolute;
  top: -16rem;
  left: 20rem;
  width: 350px;
  height: 330px;
  overflow: hidden;
  position: relative;
}

.section2 .container .content3 .img3 img {
  width: 100%;
  height: auto;
  clip-path: polygon(50% 20%, 80% 50%, 50% 80%, 20% 50%);
  position: absolute;
  top: 0;
  left: 0;
}

.Page-login {
  background: linear-gradient(to right, #142b16, #598059) !important;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.Page-login .container {
  background-color: #010101;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.35);
  position: relative;
  overflow: hidden;
  width: 768px;
  max-width: 100%;
  min-height: 480px;
}

.Page-login .container h1 {
  color: white;
}

.Page-login .container p {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.3px;
  margin: 20px 0;
}

.Page-login .container span {
  font-size: 12px;
}

.Page-login .container a {
  color: #333;
  font-size: 13px;
  text-decoration: none;
  margin: 15px 0 10px;
}

.Page-login .container .button {
  background: linear-gradient(to right, #142b16, #598059);
  color: #fff;
  border: none;
  font-size: 12px;
  padding: 10px 45px;
  font-weight: 600;
  letter-spacing: 0.5px;
  border-radius: 20px;
  margin-top: 10px;
  text-transform: uppercase;
  cursor: pointer;
}

.Page-login .container .checkbox {
  display: flex;
  position: relative;
  height: 3rem;
}

.Page-login .container .checkbox .input-checkbox {
  display: flex;
  position: absolute;
  left: -9.5rem;
}

.Page-login .container .checkbox .input-checkbox input {
  width: 15px;
}

.Page-login .container .checkbox .input-checkbox label {
  font-size: 13px;
  margin-top: 4px;
  margin-left: 5px;
}

.Page-login .container .checkbox a {
  position: absolute;
  right: -9.5rem;
  top: -10px;
}

.Page-login .container .checkbox a:hover {
  color: #078711;
}

.Page-login .container a:hover {
  color: #078711;
}

.Page-login .container button.hidden {
  background-color: transparent;
  border-color: #fff;
}

.Page-login .container form {
  background-color: #000000;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0 40px;
  height: 100%;
}

.Page-login .container input {
  background-color: #000000;
  border: 1px solid green;
  margin: 8px 0;
  padding: 10px 15px;
  font-size: 13px;
  border-radius: 8px;
  width: 100%;
  color: #fff;
}

.Page-login .form-container {
  position: absolute;
  top: 0;
  height: 100%;
  transition: all 0.6s ease-in-out;
}

.Page-login .sign-in {
  left: 0;
  width: 50%;
  z-index: 2;
}

.Page-login .container.active .sign-in {
  transform: translateX(100%);
}

.Page-login .sign-up {
  left: 0;
  width: 50%;
  opacity: 0;
  z-index: 1;
}

.Page-login .container.active .sign-up {
  transform: translateX(100%);
  opacity: 1;
  z-index: 5;
  animation: move 0.6s;
}

@keyframes move {

  0%,
  49.99% {
    opacity: 0;
    z-index: 1;
  }

  50%,
  100% {
    opacity: 1;
    z-index: 5;
  }
}

.Page-login .social-icons {
  margin: 20px 0;
}

.Page-login .social-icons a {
  border: 1px solid #ccc;
  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  margin: 0 3px;
  width: 40px;
  height: 40px;
}

.Page-login .toggle-container {
  position: absolute;
  top: 0;
  left: 50%;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.6s ease-in-out;
  z-index: 1000;
}

.Page-login .container.active .toggle-container {
  transform: translateX(-100%);
}

.Page-login .toggle {
  background-image: url(/assets/image/about/login.jpg);
  background-size: 100%;
  height: 100%;
  color: #ffffff;
  position: relative;
  left: -100%;
  height: 100%;
  width: 200%;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.Page-login .toggle-container #register {
  width: 150px;
  background: linear-gradient(to right, #142b16, #598059);
  top: 0;
  color: #fff;
  border: none;
  font-size: 12px;
  padding: 10px 45px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.Page-login .toggle-container #login {
  position: absolute;
  background: linear-gradient(to right, #142b16, #598059);
  top: 0;
  right: 0;
  color: #fff;
  border: none;
  font-size: 12px;
  padding: 10px 45px;
  font-weight: 600;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  cursor: pointer;
}

.Page-login .container.active .toggle {
  transform: translateX(50%);
}

.Page-login .toggle-panel {
  position: absolute;
  width: 50%;
  height: 100%;
  display: flex;
  top: 0;
  flex-direction: column;
  text-align: center;
  top: 0;
  transform: translateX(0);
  transition: all 0.6s ease-in-out;
}

.Page-login .toggle-left {
  transform: translateX(-200%);
}

.Page-login .container.active .toggle-left {
  transform: translateX(0);
}

.Page-login .toggle-right {
  right: 0;
  transform: translateX(0);
}

.Page-login .container.active .toggle-right {
  transform: translateX(200%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: -1.3%;
  background: #f2f1f6;
}

a {
  text-decoration: none;
}

li {
  list-style-type: none;
  padding: none;
  margin: none;
}

/*# sourceMappingURL=style.css.map */
.btn-view-more {
  display: inline-block;
  padding: 0.6rem 2rem;
  margin-bottom: 2rem;
  background-color: var(--color-price);
  /* Xanh đậm */
  color: var(--text-color-light);
  /* Trắng */
  font-weight: 400;
  font-size: 1.1rem;
  border-radius: 999px;
  transition: all 0.3s ease;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.15);
}

.btn-view-more:hover {
  background-color: var(--color-background-light);
  /* Xanh lá khi hover */
  transform: translateY(-2px);
  color: var(--black-color);
  /* hoặc --text-color, tùy theo bạn muốn */
}